body {
    background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}
.App {
    margin-bottom: 100px;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #555;
}
.header {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    height: 50px;
    margin: 0px auto;
    text-align: center;
}
.content {
    position: relative;
    margin-top: 100px;
    z-index: 1;
}
.card {
    display: grid;
    width: 50%;
    background: linear-gradient(30deg, #fefefe, #f0f0f0);
    border: white solid 2px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.title {
    /* background: black; */
    font-family: Lobster, cursive;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    border-width: 1px;
    border-color: #555;
    padding: 3px 3px 3px 3px;
    border-style: none none solid none;
}

.title a {
    color: #555;
    text-decoration: none;
}

.keyWordContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.keyWord {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 5px 5px 5px;
    color: #555;
    text-align: center;
    /* border: black 3px  */
    border-width: 2px;
    border-color: rgb(116, 116, 116);
    border-style: solid;
    border-radius: 5px;
}
.card-footer {
    /* border: black 3px solid; */
}

.publishDate {
    font-size: 5px;
    float: left;
    /* border: black 3px solid; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.more-detail {
    /* border: black 3px solid; */
    float: right;
    font-size: 5px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.more-detail a {
    text-decoration: none;
}
.abstract {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

footer {
    display: flex;
}

footer img {
    margin: auto;
}
